{% load static %}

<!-- Sidebar Navigation -->
<nav class="col-md-2 sidebar position-fixed top-0 start-0 vh-100">
    <div class="d-flex flex-column align-items-center py-3">
        <img src="{% static 'main/adminlogo.png' %}" alt="logo-2" width="50" height="50">
        <h4 class="mt-2">EvalZen</h4>
        <small>Assess With Confidence</small>
    </div>
    <ul class="nav flex-column mt-4 w-100">
        <li class="nav-item">
            <a href="{% url 'admin_dashboard' %}" class="nav-link {% if request.path == '/admin/dashboard/' %}active{% endif %}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'usermanagement' %}" class="nav-link {% if request.path == '/admin/usermanagement/' %}active{% endif %}">Users</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'adminassessment' %}" class="nav-link {% if request.path == '/admin/assessment/' %}active{% endif %}">Assessments</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'Admin_invite' %}" class="nav-link {% if request.path == '/admin/invite/' %}active{% endif %}">Invite Students</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'manualquestionupload' %}" class="nav-link {% if request.path == '/admin/manualquestionupload/' %}active{% endif %}">Question Upload</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'report' %}" class="nav-link {% if request.path == '/admin/report/' %}active{% endif %}">Reports</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'settings' %}" class="nav-link {% if request.path == '/admin/settings/' %}active{% endif %}">Settings</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin_logout' %}" class="nav-link {% if request.path == '/admin/logout/' %}active{% endif %}">Logout</a>
        </li>
    </ul>
</nav>
